MENU_OPTS=(1 "PACK"
           2 "UNPACK"
           3 "EXIT")

EXT_OPTS=(1 "zip"
         2 "rar"
         3 "tar"
         4 "gz"
         5 "bz2")

UNPACK_OPTS=(1 "NEW FOLDER"
             2 "EXISTING FOLDER")

FILE_LIST=()
DIR_NAME=""
EXT="zip"
EXT_CHOICES=1
FILENAME=""
FILENAME2=""

